<div class="card-grid-space">
  <div class="num"><%= @count += 1 %></div>
  <a class="a-card" href="<%= post_path(post) %>" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
    <div>
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <div class="date"><%= post.created_at.strftime("%d-%m-%Y") %></div>
      <div class="tags">
        <div class="tag">HTML</div>
      </div>
    </div>
  </a>
</div>